<script>

export default {
  props: {
    task: {
      type: Object,
      required: true
    }
  }
}

</script>

<template>
  <tr>
    <td>{{ task.name }}</td>
    <td>{{ task.user.name }}</td>
    <td>{{ task.time }}</td>
    <td class="text-right">{{ task.price | separateThousands }}</td>
    <td class="text-right text-nowrap">
      <button
          type="button"
          class="btn btn-sm btn-primary mr-2"
          @click="$emit('edit', task.id)"
      >Edit</button>
      <button
          type="button"
          class="btn btn-sm btn-danger"
          @click="$emit('delete', task.id)"
      >Delete</button>
    </td>
  </tr>
</template>
