<script>

const sortVariants = ['no', 'asc', 'desc'];

export default {
  props: {
    column: {
      type: String,
      required: true
    },

    state: {
      type: String,
      required: true,
      validator (val) {
        return sortVariants.includes(val);
      }
    }
  },

  data () {
    return {
      i: 0
    };
  },

  computed: {
    content () {
      return this.state === 'no' ? '-' : '>';
    }
  },

  methods: {
    onClickListener () {
      const nextIndex = (sortVariants.indexOf(this.state) + 1);

      this.i = nextIndex >= sortVariants.length ? 0 : nextIndex;

      this.$emit('change', sortVariants[this.i]);
    }
  }
};

</script>

<template>
  <button 
      type="button"
      class="sort-button"
      :class="{
        [ `sort-button_${this.state}` ]: true
      }"
      @click="onClickListener"
  >
    {{ content }}
  </button>
</template>

<style lang="scss" scoped>

.sort-button {
  border: none;
  border-radius: $btn-border-radius-sm;
  background: transparent;
  color: inherit;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background: $gray-100;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($gray-100, .5);
  }
}

.sort-button_no {
  background: no-repeat url('../assets/minus.svg') center center;
  background-size: 50%;
}

.sort-button_asc {
  transform: rotate(180deg);
}

.sort-button_asc, .sort-button_desc {
  background: $gray-300 no-repeat url('../assets/down.svg') center center;
  background-size: 50%;

  &:hover {
    background-color: rgba($gray-300, .5);
  }
}

</style>
