<script>

import { mapState } from 'vuex';
import { required, maxLength, minValue } from 'vuelidate/lib/validators';

export default {
  props: {
    task: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      localTask: {}
    };
  },

  computed: {
    ...mapState([
      'users'
    ]),

    price () {
      const user = this.users.find(user => user.id === this.localTask.user_id);

      return user === undefined ? 0 : this.localTask.time * user.price;
    }
  },

  created () {
    this.localTask = { ...this.task };
  },

  validations: {
    localTask: {
      name: {
        required,
        maxLength: maxLength(160)
      },

      time: {
        required,
        minValue: minValue(0)
      }
    }
  },

  methods: {
    onApplyListener () {
      this.$v.$touch();

      if (! this.$v.$invalid) {
        this.$emit('apply', this.localTask);
      }
    }
  }
}

</script>

<template>
  <tr class="jobs-list-row-form">
    <td>
      <div class="input-container">
        <input
            v-model.trim="$v.localTask.name.$model"
            class="form-control form-control-sm jobs-list-row-form__input"
            :class="{
              'is-invalid': $v.localTask.name.$error
            }"
            @keydown.enter="onApplyListener"
        >
        <div class="invalid-tooltip">
          <template v-if="!$v.localTask.name.required">
            This field is required.
          </template>
          <template v-if="!$v.localTask.name.maxLength">
            Max length is {{ $v.localTask.name.$params.maxLength.max }} letters.
          </template>
        </div>
      </div>
    </td>
    <td>
      <select
          v-model="localTask.user_id"
          class="custom-select custom-select-sm jobs-list-row-form__input"
      >
        <option
            v-for="user in users"
            :key="user.id"
            :value="user.id"
        >
          {{ user.name }}
        </option>
      </select>
    </td>
    <td>
      <div class="input-container">
        <input
            v-model.number="$v.localTask.time.$model"
            class="form-control form-control-sm jobs-list-row-form__input"
            :class="{
              'is-invalid': $v.localTask.time.$error
            }"
            @keydown.enter="onApplyListener"  
        >
        <div class="invalid-tooltip">
          <template v-if="!$v.localTask.time.required">
            This field is required.
          </template>
          <template v-if="!$v.localTask.time.minValue">
            It should be a positive number or zero.
          </template>
        </div>
      </div>
    </td>
    <td class="text-right">
      {{ price | separateThousands }}
    </td>
    <td class="text-right text-nowrap">
      <button
          type="button"
          class="btn btn-sm btn-primary mr-2"
          @click="onApplyListener"
      >Apply</button>
      <button
          type="button"
          class="btn btn-sm btn-default"
          @click="$emit('cancel', localTask.id)"
      >Cancel</button>
    </td>
  </tr>
</template>

<style scoped>

.input-container {
  position: relative;
}

.invalid-tooltip {
  max-width: none;
  white-space: nowrap;
}

</style>
