<script>

import { mapActions, mapGetters } from 'vuex';
import TaskListTableForm from './TaskListTableForm.vue';
import TaskListTableView from './TaskListTableView.vue';
import TaskListTableSortButton from './TaskListTableSortButton.vue';

export default {
  components: {
    TaskListTableForm,
    TaskListTableView,
    TaskListTableSortButton
  },

  props: {
    search: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      // ids of the currently editing tasks
      openedTasksIds: [],

      // sort by column
      sort: {
        column: null,
        direction: 'asc'
      }
    };
  },

  computed: {
    ...mapGetters([
      'tasksWithUsers'
    ]),

    totalTasks () {
      return this.tasks.length;
    },

    totalHours () {
      return this.tasks.reduce((accum, current) => accum + current.time, 0);
    },

    totalPrice () {
      return this.tasks.reduce((accum, current) => accum + current.price, 0);
    },

    tasks () {
      let tasks = this.tasksWithUsers;

      if (this.search.length > 0) {
        const search = this.search.toLowerCase();

        tasks = tasks.filter(task => {
          for (const textField of [task.name, task.user.name]) {
            if (textField.toLowerCase().indexOf(search) > -1) {
              return true;
            }
          }
        });
      }

      if (tasks.length > 0 && this.sort.column !== null) {
        tasks = [ ...tasks ].sort((a, b) => {
          a = a[this.sort.column];
          b = b[this.sort.column];

          if (typeof a === 'string') {
            a = a.toLowerCase();
          }

          if (typeof b === 'string') {
            b = b.toLowerCase();
          }

          if (a > b) {
            return 1;
          }

          if (a < b) {
            return -1;
          }

          return 0;
        });

        if (this.sort.direction === 'desc') {
          tasks.reverse();
        }
      }

      return tasks;
    }
  },

  watch: {
    tasksWithUsers () {
      this.resetSorting();
      this.resetSearch();
    }
  },

  methods: {
    ...mapActions([
      'updateTask'
    ]),

    isEditing (taskId) {
      return this.openedTasksIds.includes(taskId);
    },

    getSortOf (column) {
      if (this.sort.column !== column) {
        return 'no';
      }
      
      return this.sort.direction;
    },

    resetSorting () {
      this.sort = {
        column: null,
        direction: 'asc',
      };
    },

    resetSearch () {
      this.$emit('reset-search');
    },

    openEditForm (taskId) {
      this.openedTasksIds.push(taskId);
    },

    closeEditForm (taskId) {
      const index = this.openedTasksIds.indexOf(taskId);

      if (index >= 0) {
        this.openedTasksIds.splice(index, 1);
      }
    },

    onEditRowListener (taskId) {
      this.openEditForm(taskId);
    },

    onApplyRowListener (task) {
      this.updateTask(task);
      this.closeEditForm(task.id);
    },

    onCancelRowListener (taskId) {
      this.closeEditForm(taskId);
    },

    onSortChangeListener (column, state) {
      this.sort = {
        column: state === 'no' ? null : column,
        direction: state === 'desc' ? 'desc' : 'asc'
      };
    }
  }
};

</script>

<template>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col" class="col-tasks col-header text-nowrap">
          Task
          <task-list-table-sort-button 
              :state="getSortOf('name')"
              column="name"
              @change="onSortChangeListener('name', $event)"
          />
        </th>
        <th scope="col" class="col-users col-header text-nowrap">
          User
          <task-list-table-sort-button 
              :state="getSortOf('userName')"
              column="userName"
              @change="onSortChangeListener('userName', $event)"
          />
        </th>
        <th scope="col" class="col-numbers col-header text-nowrap">
          Hours
          <task-list-table-sort-button 
              :state="getSortOf('time')"
              column="time"
              @change="onSortChangeListener('time', $event)"
          />
        </th>
        <th scope="col" class="col-numbers col-header text-nowrap">
          Price
          <task-list-table-sort-button 
              :state="getSortOf('price')"
              column="price"
              @change="onSortChangeListener('price', $event)"
          />
        </th>
        <th scope="col" class="text-right col-actions col-header">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <component
          v-for="task in tasks"
          :is="isEditing(task.id) ? 'task-list-table-form' : 'task-list-table-view'"
          :key="task.id"
          :task="task"
          class="table-hover"
          @edit="onEditRowListener"
          @apply="onApplyRowListener"
          @cancel="onCancelRowListener"
          @delete="$emit('delete', $event)"
      />
      <tr class="table-borderless">
        <td colspan="2">Total Jobs <strong>{{ totalTasks }}</strong></td>
        <td><strong>{{ totalHours }}</strong></td>
        <td class="text-right"><strong>{{ totalPrice | separateThousands }}</strong></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</template>

<style scoped>

.col-tasks {
  width: 30%;
}
.col-users {
  width: 20%;
}
.col-numbers {
  width: 13%;
}
.col-actions {
  width: 24%;
}
.col-header > * {
  vertical-align: middle;
}

</style>
