<script>

import TaskListTable from './TaskListTable.vue';
import { CREATE_TASK } from '@/store/mutation-types';
import TaskListDeleteModal from './TaskListDeleteModal.vue';
import { mapGetters, mapActions, mapMutations } from 'vuex';

let savedTimoutId;

export default {
  components: {
    TaskListTable,
    TaskListDeleteModal
  },

  data () {
    return {
      // id of the task that will be remove after confirmation
      deletingTaskId: null,

      saved: false,

      search: ''
    };
  },

  computed: {
    ...mapGetters([
      'isDirty',
      'findTaskById'
    ])
  },

  methods: {
    ...mapActions([
      'saveTasks',
      'deleteTaskById'
    ]),

    ...mapMutations([
      CREATE_TASK
    ]),

    openDeleteModal (taskId) {
      this.deletingTaskId = taskId;
      this.$modal.show('delete-modal');
    },

    closeDeleteModal () {
      this.$modal.hide('delete-modal');
      this.deletingTaskId = null;
    },
    
    onDeleteRowListener (taskId) {
      this.openDeleteModal(taskId);
    },

    onCancelDeletingListener () {
      this.closeDeleteModal();
    },

    onConfirmDeletingListener () {
      if (this.deletingTaskId !== null) {
        this.deleteTaskById(this.deletingTaskId);
      }
      this.closeDeleteModal();
    },

    onCreateTaskListener () {
      this[CREATE_TASK]();
    },

    onSaveTasksListener () {
      this.saveTasks().then(() => {
        this.saved = true;
        clearTimeout(savedTimoutId);
        setTimeout(() => this.saved = false, 3000);
      });
    },

    onResetSearchListener () {
      this.search = '';
    }
  }
}

</script>

<template>
  <div>
    <h1 class="text-center">Tasks List</h1>
    <div class="card">
      <div class="card-header">
        <input type="text" class="form-control" placeholder="Search..." v-model="search">
      </div>
      <div class="row py-2 align-items-center">
        <div class="col-12 col-lg-4 offset-lg-4 text-center">
          <button 
              type="button" 
              class="btn btn-light mr-2"
              @click="onCreateTaskListener"
          >Add New Task</button>
          <button 
              type="button"
              class="btn"
              :class="{[ isDirty ? 'btn-primary' : 'btn-secondary' ]: true }"
              :disabled="!isDirty"
              @click="onSaveTasksListener"
          >Save</button>
        </div>
        <div class="col-12 col-lg-4">
          <transition name="save-notification">
            <div v-if="saved" class="text-success">The list has been saved.</div>
          </transition>
        </div>
      </div>
      <div class="table-responsive-sm">
        <task-list-table
          :search="search"
          @delete="onDeleteRowListener"
          @reset-search="onResetSearchListener"
        />
      </div>
    </div>
    <modal name="delete-modal" height="auto" :adaptive="true">
      <task-list-delete-modal
          :task="findTaskById(deletingTaskId)"
          @cancel="onCancelDeletingListener"
          @confirm="onConfirmDeletingListener"
      />
    </modal>
  </div>
</template>

<style scoped>

.card-header {
  padding: .75rem;
}

.save-notification-enter-active, .save-notification-leave-active {
  transition: opacity .5s;
}
.save-notification-enter, .save-notification-leave-to {
  opacity: 0;
}

</style>
