<script>

export default {
  props: {
    task: {
      type: Object
    }
  }
};

</script>

<template>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Confirm delete operation</h5>
      <button 
          type="button" 
          class="close" 
          aria-label="Close" 
          @click="$emit('cancel')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Task {{ task && task.name !== '' ? `"${task.name}"` : '' }} will be deleted.</p>
    </div>
    <div class="modal-footer">
      <button
          type="button" 
          class="btn btn-danger"
          @click="$emit('confirm')"
      >Delete</button>
      <button 
          type="button" 
          class="btn btn-light"
          @click="$emit('cancel')"
      >Cancel</button>
    </div>
  </div>
</template>
